@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", "sans-serif";
}
body {
  width: 100%;
}
.header {
  padding: 10px;
}
.header .contentBox {
  padding: 10px 50px;
}
.header .contentBox h4 {
  font-size: 2rem;
  font-weight: 700;
}
.houseRepair {
  height: 100%;
  background-image: url("images/hero-bg.jpg");
  width: 100%;
  background-size: cover;
  padding: 0;
}
.houseRepair .fullBox {
  padding: 250px 0px 100px 100px;
  display: flex;
  align-items: center;
}
.houseRepair .fullBox .contentBox {
  top: 500px;
  width: 60%;
}
.houseRepair .fullBox .contentBox .title h1 {
  color: #fff;
  font-size: 3.6rem;
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
}
.houseRepair .fullBox .contentBox .title h1 span {
  font-size: 7rem;
  font-weight: 900;
  letter-spacing: 3px;
}
.houseRepair .fullBox .contentBox .title .line {
  padding-top: 20px;
}
.houseRepair .fullBox .contentBox .title hr {
  height: 10px;
  background-color: #fff;
  border-style: none;
  width: 80%;
  padding-top: 10px;
}
.houseRepair .fullBox .imageBox {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  width: 100%;
}

.houseRepair .imageBox img {
  padding: 20px 100px 10px 0;
  filter: brightness(0) invert(1);
  height: 120px;
}
.houseRepair .imageBox p {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
}
.ourServices {
  padding: 100px 100px 100px 50px;
  background-color: #f2f2f2;
}
.ourServices .contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourServices .contentBox .title {
  padding: 50px 0 0 20px;
  align-items: center;
}
.ourServices .contentBox .title p {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.5;
}
.ourServices .contentBox .titleContent {
  padding: 20px;
}
.ourServices .contentBox .titleContent h3 {
  font-size: 3rem;
  text-transform: capitalize;
}
.ourServices .contentBox .content {
  padding: 20px;
  width: 80%;
}
.ourServices .contentBox .content p {
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  line-height: 2.5rem;
}
.ourServices .contentBox .button {
  padding: 20px;
}
.ourServices .contentBox .button button {
  height: 50px;
  background-color: #e71a23;
  color: #fff;
  border-style: none;
  width: 150px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.ourServices .contentBox .button button:hover {
  background-color: #d1161e;
  cursor: pointer;
}
.needHelp {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 50px 100px;
}
.needHelp .firstBox .contentBox {
  padding: 50px 20px 50px 50px;
}
.needHelp .firstBox .contentBox p {
  line-height: 1.7rem;
  font-weight: 300;
  font-size: 1.2rem;
}
.needHelp .secondBox .contentBox {
  padding: 50px 50px 50px 20px;
}
.needHelp .secondBox .contentBox .content {
  padding: 10px 0;
}
.needHelp .secondBox .contentBox .content h2 {
  font-size: 2.5rem;
}
.needHelp .secondBox .contentBox .phoneNumber {
  padding: 10px 0;
}
.needHelp .secondBox .contentBox .phoneNumber p {
  font-weight: 500;
  font-size: 2rem;
  color: #e71a23;
}
.bestQuality {
  background: linear-gradient(
    to right,
    #dad8dd,
    #dad8dd,
    #d7d5da,
    #d7d5da,
    #a39797
  );
  display: flex;
  padding: 0 100px 0 0;
  height: 750px;
}
.bestQuality .imageBox {
  width: 50%;
  height: 750px;
}
.bestQuality .imageBox img {
  object-fit: cover;
  height: 100%;
}
.bestQuality .contentBox {
  padding: 100px 50px 200px 50px;
}
.bestQuality .contentBox .title {
  padding: 50px 0 20px 0;
}
.bestQuality .contentBox .title h1 {
  color: #124f93;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 800;
}
.bestQuality .contentBox .line hr {
  height: 10px;
  background-color: #e71a23;
  border-style: none;
  padding-top: 10px;
}
.bestQuality .contentBox .content {
  padding-top: 50px;
}
.bestQuality .contentBox .content p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
}
.bestQuality .contentBox .mybutton {
  padding-top: 50px;
}
.bestQuality .contentBox .mybutton button {
  height: 50px;
  background: #e71a23;
  color: #fff;
  border-style: none;
  width: 150px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.bestQuality .contentBox button:hover {
  background-color: #d1161e;
  cursor: pointer;
}
.theOtherServices {
  padding: 50px 100px;
}
.theOtherServices .title {
  padding: 20px;
}
.theOtherServices .title h1 {
  font-size: 3rem;
  font-weight: 600;
}
.theOtherServices .contentBox {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.theOtherServices .contentBox .content {
  padding: 20px;
}
.theOtherServices .contentBox .content h3 {
  padding: 10px 0;
  font-size: 1.5rem;
}
.theOtherServices .contentBox .content p {
  font-style: italic;
  font-size: 1.125rem;
  line-height: 30px;
  font-weight: 300;
  padding-right: 20px;
}
.theOtherServices .imageBox {
  padding: 20px 0;
}
.theOtherServices .imageBox .smallerBox {
  height: 100px;
  background-color: #e71a23;
  border-radius: 100%;
  width: 100px;
}
.theOtherServices .imageBox .smallerBox img {
  height: 50px;
  width: 50px;
  position: relative;
  left: 50%;
  top: 50%;

  transform: translateY(-50%) translateX(-50%);
}
.aboutUs {
  background-color: #124f93;
  display: flex;
  padding: 20px 100px;
}
.aboutUs .contentBox {
  width: 50%;
  padding: 150px 50px;
}
.aboutUs .imageBox {
  margin: 20px;
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
}
.aboutUs .imageBox .image {
  padding: 20px;
  height: 250px;
}
.aboutUs .imageBox .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.aboutUs .content .title h4 {
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 2px;
}
.aboutUs .content .details h1 {
  color: white;
  font-size: 5.75rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1;
}
.aboutUs .content .details span {
  font-size: 5.78rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.toDo {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toDo .firstContent {
  width: 70%;
  padding: 20px 0;
}
.toDo .firstContent h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
}
.toDo .firstContent h2 span {
  text-transform: uppercase;
}
.toDo .secondContent {
  width: 60%;
  padding: 20px 0;
}
.toDo .secondContent p {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  line-height: 1.5;
}
.toDo .buttons {
  display: flex;
  padding: 20px;
}
.toDo .buttons .firstbutton {
  padding-right: 10px;
}
.toDo .buttons .firstbutton button {
  height: 50px;
  background: #e71a23;
  color: #fff;
  border-style: none;
  width: 150px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.toDo .buttons .firstbutton button:hover {
  background-color: #d1161e;
  cursor: pointer;
}
.toDo .buttons .secondbutton button {
  background-color: #fff;
  height: 50px;
  width: 150px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  border-width: 1px;
}
.toDo .buttons .secondbutton button:hover {
  cursor: pointer;
  background: #dad8dd;
}
/* Responsive for Tablet*/
@media (max-width: 790px) {
  .houseRepair {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 590px;
  }
  .header {
    visibility: hidden;
  }

  .houseRepair .fullBox {
    padding: 175px 0px 50px 50px;
    display: flex;
    align-items: center;
  }
  .houseRepair .fullBox .contentBox {
    width: 65%;
  }
  .houseRepair .fullBox .contentBox .title h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .houseRepair .fullBox .contentBox .title h1 span {
    font-size: 4.5rem;
    font-weight: 900;
    letter-spacing: 2px;
  }

  .houseRepair .fullBox .contentBox .title hr {
    height: 10px;
    width: 90%;
  }
  .houseRepair .fullBox .imageBox {
    display: flex;
    flex-direction: row;
    padding: 20px 30px 20px 0;
    width: 100%;
  }
  .houseRepair .fullBox .imageBox .image {
    margin-right: auto;
  }
  .houseRepair .imageBox img {
    padding: 20px;
    height: 120px;
  }
  .houseRepair .imageBox p {
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .ourServices {
    padding: 50px;
  }

  .ourServices .contentBox .title p {
    font-size: 1.125rem;
    letter-spacing: 1px;
    opacity: 0.4;
  }

  .ourServices .contentBox .titleContent h3 {
    font-size: 3.25rem;
    text-transform: capitalize;
    opacity: 0.9;
  }
  .ourServices .contentBox .content {
    padding: 15px 0;
    width: 100%;
  }
  .ourServices .contentBox .content p {
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 2rem;
    letter-spacing: 1px;
  }
  .ourServices .contentBox .button {
    padding: 20px;
  }
  .needHelp {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
  }
  .needHelp .imageBox img {
    width: 100%;
  }
  .needHelp .firstBox .contentBox {
    padding: 50px;
  }
  .needHelp .firstBox .contentBox p {
    line-height: 1.5;
    font-weight: 300;
    font-size: 1.175rem;
  }
  .needHelp .secondBox .contentBox {
    padding: 30px 50px;
  }

  .needHelp .secondBox .contentBox .content h2 {
    font-size: 2.4rem;
  }
  .needHelp .secondBox .contentBox .phoneNumber p {
    font-size: 2rem;
    font-weight: 600;
  }
  .bestQuality {
    padding: 0 10px;
    height: 600px;
  }
  .bestQuality .imageBox {
    width: 50%;
  }
  .bestQuality .imageBox img {
    object-fit: cover;
    height: 600px;
    width: 100%;
  }
  .bestQuality .contentBox {
    padding: 100px 20px 20px 10px;
    width: 50%;
  }
  .bestQuality .contentBox .title {
    padding: 50px 20px 20px 0;
  }
  .bestQuality .contentBox .title h1 {
    color: #124f93;
    text-transform: uppercase;
    font-size: 3.25rem;
    font-weight: 600;
    line-height: 1.1;
  }
  .bestQuality .contentBox .line hr {
    width: 90%;
  }
  .bestQuality .contentBox .content {
    padding-top: 30px;
  }
  .bestQuality .contentBox .content p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2rem;
  }
  .bestQuality .contentBox .mybutton {
    padding-top: 30px;
  }
  .theOtherServices {
    padding: 50px;
  }
  .theOtherServices .contentBox .content p {
    font-style: italic;
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 400;
    padding-right: 30px;
  }
  .aboutUs {
    display: flex;
    padding: 50px 10px;
    flex-direction: column;
  }
  .aboutUs .imageBox {
    margin: 0 20px 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
  }
  .aboutUs .imageBox .image {
    height: 100%;
  }
  .aboutUs .contentBox {
    width: 100%;
    padding: 50px;
  }
  .aboutUs .content .title h4 {
    color: white;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: 2px;
  }
  .aboutUs .content .details {
    padding: 0;
  }
  .aboutUs .content .details h1 {
    color: white;
    font-size: 4.25rem;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1;
  }
  .aboutUs .content .details span {
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .toDo {
    padding: 50px 10px;
  }
  .toDo .firstContent {
    width: 90%;
    padding: 10px 0;
  }
  .toDo .firstContent h2 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
  }
  .toDo .firstContent h2 span {
    text-transform: uppercase;
  }
  .toDo .secondContent {
    width: 90%;
    padding: 20px 0;
  }
  .toDo .secondContent p {
    font-weight: 300;
    color: #353935;
  }
  .toDo .buttons {
    padding-top: 30px;
  }
}
/*  Responsive for Mobile*/
@media (max-width: 490px) {
  .houseRepair {
    background-position: 81.49% 50%;
    width: 100%;
    padding: 0;
    overflow: visible;
  }
  .houseRepair .contentBox .services {
    display: none;
  }
  .houseRepair .fullBox {
    top: 340px;
    position: relative;
    padding: 20px;
  }
  .houseRepair .fullBox .contentBox {
    width: 80%;
    padding: 0;
  }
  .houseRepair .fullBox .contentBox .title h1 {
    font-size: 1.78rem;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .houseRepair .fullBox .contentBox .title h1 span {
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 1px;
  }

  .houseRepair .fullBox .contentBox .title hr {
    height: 10px;
    width: 100%;
  }
  .ourServices {
    padding: 30px;
  }

  .ourServices .contentBox .title p {
    font-size: 0.9rem;
    letter-spacing: 1px;
    opacity: 0.4;
  }
  .ourServices .contentBox .titleContent {
    position: relative;
    text-align: center;
  }

  .ourServices .contentBox .titleContent h3 {
    font-size: 2.5rem;
    opacity: 0.9;
  }
  .ourServices .contentBox .content {
    padding: 10px 0;
    width: 100%;
  }
  .ourServices .contentBox .content p {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.75;
    letter-spacing: 1px;
  }

  .needHelp .firstBox .contentBox {
    padding: 20px;
  }
  .needHelp .firstBox .contentBox p {
    line-height: 1.5;
    font-weight: 300;
    font-size: 1rem;
  }
  .needHelp .secondBox .contentBox {
    padding: 20px 10px;
  }

  .needHelp .secondBox .contentBox .content h2 {
    font-size: 1.7rem;
    padding: 0;
  }
  .needHelp .secondBox .contentBox .phoneNumber p {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .bestQuality {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .bestQuality .imageBox {
    width: 100%;
    padding: 20px;
    height: 100%;
  }
  .bestQuality .imageBox img {
    object-fit: cover;
    height: 400px;
    width: 100%;
  }
  .bestQuality .contentBox {
    padding: 50px 20px;
    width: 100%;
  }
  .bestQuality .contentBox .title {
    padding: 0;
  }
  .bestQuality .contentBox .title h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.1;
  }

  .bestQuality .contentBox .content {
    padding-top: 30px;
  }
  .bestQuality .contentBox .content p {
    font-size: 1rem;
    line-height: 1.75rem;
  }
  .bestQuality .contentBox .mybutton {
    padding-top: 20px;
  }
  .theOtherServices .title {
    padding: 20px 0px;
  }
  .theOtherServices .title h1 {
    font-size: 2.6rem;
  }
  .theOtherServices .contentBox .content p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
  }
  .theOtherServices .contentBox {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }
  .theOtherServices .contentBox .content {
    padding: 0;
  }

  .theOtherServices .contentBox .smallerBox {
    height: 75px;
    width: 75px;
  }
  .theOtherServices .contentBox .smallerBox img {
    width: 35px;
  }
  .aboutUs .contentBox {
    padding: 20px 10px;
  }
  .aboutUs .contentBox .title h4 {
    font-size: 0.85rem;
  }
  .aboutUs .contentBox .details h1 {
    font-size: 3rem;
  }
  .aboutUs .contentBox .details h1 span {
    font-size: 3.75rem;
  }
  .aboutUs .imageBox {
    display: flex;
    flex-direction: column;
  }
  .aboutUs .imageBox .image {
    width: 100%;
    padding: 10px;
  }
  .toDo {
    padding: 50px 20px;
  }
  .toDo .firstContent h2 {
    font-size: 2rem;
    opacity: 1;
    font-weight: 600;
  }
  .toDo .secondContent p {
    font-size: 1.75rem;
    line-height: 1.5;
  }
  .toDo .buttons {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .toDo .buttons .firstbutton,
  .toDo .buttons .secondbutton {
    padding: 20px;
  }
}
